@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header#h1 h1 {
    background-color: black;
    position: relative;
    color: orangered;
    height: 40px;
}

ul#lista {
    background-color: rgba(58, 58, 58, 0.5);
    position: relative;
    bottom: 20px;
    right: 20px;
    float: right;
    list-style: none;  
}

ul#lista a {
    float: left;
}

ul#lista li {
    border-radius: 10px;
    font-size: 20pt;
    float: left;
    background-color: black;
    color: white;
    margin: 10px;
    border: seagreen 1px solid;
    padding: 5px;
}

section#interface {
    background-image: url("../imagens/background.jpg");
    height: 1065px;
}

div#banner {
    background-color: rgba(0, 0, 0, 0.815);
    height: 300px;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;  
    border-radius: 20px;
}

div#banner h1 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 35px;
    top: 50px; 
    margin-left: 210px;
}

div#banner p {
    position: relative;
    color: white;
    font-size: 25pt;
    text-align: center;
    top: 30%;
}

div#secao {
    background-color: rgba(0, 0, 0, 0.815);
    height: 300px;
    max-width: 1100px;
    margin: auto;
    margin-top: 70px;   
    border-radius: 20px;
    color: white;
    margin-bottom: 70px;
}

div#secao p {
    position: relative;
    color: white;
    font-size: 24pt;
    text-align: center;
    top: 30%;
}

div#secao h1 {
    position: relative;
    color: white;
    font-size: 35px;
    top: 50px;
    text-align: center;
}

footer#rodape {
    top: 70px;
    background-color: black;
    height: 250px;
}

div#contato {
    color: white;
    text-align: center;
}


div#contato h1 {
    position: relative;
    top: 10px;
    margin: 20px;
}

div#email {
    padding: 10px;
    position: relative;
    left: 200px;
    color: white;
    float: left;
}

div#email h1 {
    position: relative;
    left: 60px;
    margin: 20px;
}

div#redes h1 {
    color: white;
    position: relative;
    float: right;
    right: 150px;
}

.instagram {
    position: relative;
    list-style-image: url("../imagens/insta.jpg");
    float: right;
    top: 50px;   
}

.github {
    position: relative;
    list-style-image: url("../imagens/git.png");
    float: right;
    top: 50px; 
    right: 70px;
}

.facebook {
    position: relative;
    list-style-image: url("../imagens/face.png");
    float: right;
    top: 50px; 
    right: -70px;
}

.linkedin {
    position: relative;
    list-style-image: url("../imagens/linkedin.png");
    float: right;
    top: 50px; 
    right: 140px;
}

